{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}
    Login|Glowing Pixels
{% endblock %}

{% block content %}
{% load widget_tweaks %}

<!-- css Link -->
<link rel="stylesheet" href="{% static 'css/login.css' %}">

    <!-- body html -->
    <div class="container">
        <div class="row">
            <div>
                <div class="formbody">
                    {% if form.errors %}
                        <h3 style="color:red;"> Invalid Username or Password </h3>
                    {% else %}
                        <h3>Login</h3>
                    {% endif %}
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}

                        <div class="form-group userID">
                            {% render_field form.username class="form-control" placeholder="Username" %}
                        </div>

                        <div class="form-group userPassword">
                            {% render_field form.password class="form-control" placeholder="Password" %}
                        </div>

                        <input type="submit" class="btn btn-primary loginBtn" value="Login">                
                    </form>
                    <p class="dig"><a href="{% url 'password_reset' %}">Forgot Password?</a></p>
                    <p class="dig"><strong>New on GlowingPixels ?</strong></p>
                    <div>
                        <a href="{% url 'users:signup' %}">
                            <button type="submit" class="btn createAccountBtn">Create an Account</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

 {% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/login.js' %}"></script>
{% endblock %}
