{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}

  <!-- css Link -->
  <link rel="stylesheet" href="{% static 'css/login.css' %}">

  <pre class="textPic">
                          .-=-. 
                         /  ! )\
                      __ \__/__/
                     / _<( ^.^ )             YOUR WISH HAS BEEN
                    / /   \ c /O                  GRANTED !! 
                    \ \_.-./=\.-._     _
                     `-._  `~`    `-,./_<
                         `\' \'\`'----'
                       *   \  . \          *
                            `-~~~\   .
                       .      `-._`-._   *
                             *    `~~~-,      *
                   ()                   * )
                  <^^>             *     (   .
                 .-""-.                    )
      .---.    ."-....-"-._     _...---''`/. '
     ( (`\ \ .'            ``-''    _.-"'`
      \ \ \ : :.                 .-'
       `\`.\: `:.             _.'
       (  .'`.`            _.'
        ``    `-..______.-'
                  ):.  (
                ."-....-".
              .':.        `.
              "-..______..-"
  </pre>

  <div style="text-align:center">
    <p>
      We've emailed you instructions for setting your password, if an account exists with the email you entered.
      You should receive them shortly.
    </p>
    <p>
      If you don't receive an email, please make sure you've entered the Email address you registered with,
      and check your spam folder.
    </p>
  </div>
  
{% endblock %}