{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}

  <!-- css Link -->
  <link rel="stylesheet" href="{% static 'css/login.css' %}">

  

  <div class="textPicPosition">
    <span class="textpic">        0</span>
    <span class="textpic">       / \</span>
    <span class="textpic">     cccccco</span>
    <span class="textpic">     (' c ')</span>
    <span class="textpic">      /(')\</span>
    <span class="textpic">   /   |:|   \</span>
    <span class="textpic">  (.|==[]==|.)</span>
    <span class="textpic">     |__|__|</span>
    <span class="textpic">      || ||</span>
    <span class="textpic">     (_) (_)</span>
  </div>

  <div style="text-align:center">
    <p>
      We've emailed you instructions for setting your password, if an account exists with the email you entered.
      You should receive them shortly.
    </p>
    <p>
      If you don't receive an email, please make sure you've entered the Email address you registered with,
      and check your spam folder.
    </p>
  </div>
  
{% endblock %}