{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}Reset Password|Glowing Pixels{% endblock %}

{% block content %}

<link rel="styl*-esheet" href="{% static 'css/login.css' %}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">

                <div class="formbody">
                {% if form.errors %}
                    <h3 style="color:red;">Fill the form with a valid email address</h3>
                {% else %}
                    <h3>Reset Password</h3>
                {% endif %}

                    <form action="" method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            {% if form.email.errors %}
                                {{ form.email.errors }}
                            {% endif %}
                            <p>{{ form.email }}</p>
                        </div>

                        <input type="submit" class="btn btn-primary" value="Reset Password">                
                    </form>
                <div>

            </div>
        </div>
    </div>

{% endblock %}