{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %}User Profile{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
        <div class="profileContainer">
            <img src="{{user.profile_pic.url}}" alt="Image" class="coverImg">
            <img src="{{user.profile_pic.url}}" alt="Image" class="profilePicture">
            <div class="userDetails">
                <div class="userDetailsStyle">
                    {{ user.first_name }} {{ user.last_name }}
                </div>
            </div>
        </div>
{% endblock %}