{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %}User Profile{% endblock %}
{% block content %}
{% load widget_tweaks %}

    <!-- css link -->
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <!-- HTML starts here -->
        <div class="profileContainer">

            {% if user.profile_pic %}
            <img src="{{ user.profile_pic.url }}" alt="Image" class="profilePicture">
            {% else %}
            <img src="{% static 'images/profile.jpg' %}" alt="Image" class="profilePicture">
            {% endif %}

            {% if user.cover_pic %}
            <div class="coverImgContainer">
                <img src="{{ user.cover_pic.url }}" alt="Image" class="coverImg">
            </div>
            {% else %}
            <div class="coverImgContainer">
                <img src="{% static 'images/cover.jpg' %}" alt="Image" class="coverImg">
            </div>
            {% endif %}
            
            <!-- settings icon -->
            <a href="{% url 'users:settings' %}">
                <i class="fas fa-cog"></i>
            </a>

            <!-- edit icon -->
            <i class="fas fa-pencil-alt imgChangeIcon"></i>

            <div class="picEdit">
            <form action="{% url 'users:profile' %}" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <span class="profilePicChange">
                    <input type="file" name="profile_pic" accept="image/*" class="form-control" id="id_profile_pic">
                </span>

                <span class="coverPicChange">
                    <input type="file" name="cover_pic" accept="image/*" class="form-control" id="id_cover_pic">
                </span>
             <input type="submit" class="btn btn-primary" value="Update">
            </form>
            </div>

            <!-- social links icon -->
            <div class="socialLinks">
                <a href="{{ user.facebook_link }}">
                    <i class="fab fa-facebook-square"></i>
                </a>
                <a href="{{ user.instagram_link }}">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <div class="userDetailsOnPage">
                <div class="userFullName">
                    {{ user.first_name }} {{ user.last_name }}
                </div>
                <div class="imgContributed">
                    <span>0 Image Contributed</span>
                    <i class="fas fa-image contributeImgIcon"></i>
                </div>
            </div>

            <a href="{% url 'gallery:addImage' %}">
                <div class="contributeArea">
                    <i class="fas fa-plus"></i>
                </div>
            </a>        
        </div>
        <hr class="coolLine">

    {% endblock %}

{% block scripts %}
    {{ block.super }}
        <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}