{% extends "base/base.html" %}
{% load staticfiles %}

<title>
{% block title %}
    SignUp|Glowing Pixels
{% endblock %}
</title>

{% block content %}
{% load widget_tweaks %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">

    <!--form-->
    <div class="container">
        <div class="formbody">

            <p style="font-size: 130%"> Sign Up Now!</p>
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {% if form.username.errors %}
                <div class="row">
                    {% render_field form.username placeholder="Username already exists" %}
                </div>
                {% else %}
                <div class="row">
                    {% render_field form.username placeholder="Username" %}
                </div>
                {% endif %}
                


                <div class="row firstName">
                    {% render_field form.first_name  placeholder="First Name" %}
                </div>                                
                <div class="row lastName">
                    {% render_field form.last_name  placeholder="Last Name" %}
                </div>


                <div class="row">
                    {{ form.email.errors }}
                    {% render_field form.email placeholder="Enter email" %}
                </div>

                <div class="row password1">
                    {% render_field form.password1 placeholder="Password" %}
                </div>

                {% if form.password2.errors %}
                <div class="row password2">
                    {% render_field form.password2 placeholder=form.password2.errors.as_text %}
                </div>
                {% else %}
                <div class="row password2">
                    {% render_field form.password2 placeholder="Confirm Password" %}
                </div>
                {% endif %}
                
                <!-- bad Backend -->
                <div>
                    {% render_field form.profile_pic %}
                    {% render_field form.cover_pic %}                    
                </div>

                <div>
                    <input type="checkbox" name="read" value="didRead" required> Read the 
                    <a href="#" class="termsAndConditions">Terms and Conditions</a>
                </div>

                <div>
                    <input type="submit" class="btn signupBtn" value="Sign Up">
                </div>

            </form>

            <p><strong>Already have an account ?</strong></p>

            <div>
                <a href="{% url 'login' %}">
                    <button type="submit" class="btn loginBtn">Login</button>
                </a>
            </div>
         
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/signup.js' %}"></script>
{% endblock %}
