{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}
    Sign Up|Glowing Pixels
{% endblock %}

{% block content %}
{% load widget_tweaks %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">

    <!--form-->
    <div class="container">
        <div class="formbody">

            <p style="font-size: 130%"> Sign Up Now!</p>
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}

                <div class="row">
                    {{ form.username.errors }}
                    {% render_field form.username placeholder="Username" %}
                </div>


                <div class="row firstName">
                    {% render_field form.first_name  placeholder="First Name" %}
                </div>                                
                <div class="row lastName">
                    {% render_field form.last_name  placeholder="Last Name" %}
                </div>


                <div class="row">
                    {{ form.email.errors }}
                    {% render_field form.email placeholder="Enter email" %}
                </div>

                <div class="row">
                    {{ form.password1.errors }}
                    {% render_field form.password1 placeholder="Password" %}
                </div>
                <div class="row">
                    {{ form.password2.errors }}
                    {% render_field form.password2 placeholder="Confirm Password" %}
                </div>


                <div style="display:none">
                    {% render_field form.profile_pic %}
                    {% render_field form.cover_pic %}                    
                </div>

                <div>
                    <input type="checkbox" name="read" value="didRead" required> Read the 
                    <a href="#" class="lk">Terms and Conditions</a>
                </div>

                <div>
                    <input type="submit" class="btn btn-primary" value="Sign Up">
                </div>

            </form>

                   

            <p><strong>Already have an account ?</strong></p>

            <div>
                <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
            </div>
         
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/signup.js' %}"></script>
{% endblock %}
