{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}
    Sign Up|Glowing Pixels
{% endblock %}

{% block content %}
{% load widget_tweaks %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">

    <!--form-->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="formbody">

                    <p style="font-size: 50px"> Sign Up Now!</p>
                    <form enctype="multipart/form-data" method="POST">
                        {% csrf_token %}

                        <div class="row d1">
                            <div class="col-sm-12 col-lg-12 col-md-12">
                                {{ form.username.errors }}
                                {% render_field form.username class="form-control" placeholder="Username" %}
                            </div>
                        </div>


                        <div class="row d1">
                            <div class="col-lg-6 col-sm-12 col-md-6">
                                {% render_field form.first_name class="form-control" placeholder="First Name" %}
                            </div>                                
                            <div class="col-lg-6 col-sm-12 col-md-6">
                                {% render_field form.last_name class="form-control" placeholder="Last Name" %}
                            </div>
                        </div>


                        <div class="row d1">
                            <div class="col">
                                {{ form.email.errors }}
                                {% render_field form.email class="form-control" placeholder="Enter email" %}
                            </div>
                        </div>

                        <div class="row d1">
                            <div class="col-lg-6 col-sm-12 col-md-6">
                                {{ form.password1.errors }}
                                {% render_field form.password1 class="form-control" placeholder="Password" %}
                            </div>
                            <div class="col-lg-6 col-sm-12 col-md-6">
                                {{ form.password2.errors }}
                                {% render_field form.password2 class="form-control" placeholder="Confirm Password" %}
                            </div>
                        </div>
                    

                        <div class="input-group mb-3 d1">              
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-outline-secondary" data-toggle="tooltip" title="Your moment in a frozen frame">Upload</button>
                            </div>
                            <div class="custom-file">
                                {% render_field form.profile_pic class="custom-file-label" id="inputGroupFile03" %}
                                <label class="custom-file-label" for="inputGroupFile03"></label>
                            </div>
                        </div>


                        <div class="input-group mb-3 d1">              
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-outline-secondary" data-toggle="tooltip" title="Your Cover Pic">Upload</button>
                            </div>
                            <div class="custom-file">
                                {% render_field form.cover_pic class="custom-file-label" id="inputGroupFile03" %}
                                <label class="custom-file-label" for="inputGroupFile03"></label>
                            </div>
                        </div>
                                            
                        <div id="op">
                            <input type="checkbox" name="read" value="didRead" required> Read the 
                            <a href="#" class="lk">Terms and Conditions</a>
                        </div>

                        <div class="d1">
                            <input type="submit" class="btn btn-primary" value="Sign Up">
                        </div>

                    </form>

                   

                    <p class="dig"><strong>Already have an account ?</strong></p>

                    <div>
                        <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
                    </div>
                 
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/signup.js' %}"></script>
{% endblock %}
