{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="icon" href="{% static "images/icon.png" %}" type="image/x-icon">
        <!-- CDN for font Awaesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" 
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" 
        crossorigin="anonymous">
        <!-- CDN for google font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <!-- link for homepage css -->
        <link rel="stylesheet" href="{% static 'css/base_footer.css' %}">
    </head>
    <body>
        <!-- footer -->
        <footer>
            footer
        </footer>

        {% block content %}

        {% endblock %}


        <!-- links for the script tag -->
        {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        {% endblock %}
    </body>
</html>