{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>GlowingPixels</title>

        <!--tabIcon-->
        <link rel="icon" href="{% static "images/icon.png" %}" type="image/x-icon">
        <!--bootstrap CDNs-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!--fontawasome CDNs-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" 
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <!--googleFonts CDNs-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Jua" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <!--css links-->
        <link rel="stylesheet" href="{% static "css/base.css" %}">
    </head>
    <body>
        <!-- nav bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="../frontPage/index.html"><span class="fas fa-cannabis" style="padding-right: 10px"></span><strong>GlowingPixels</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- cat dropdown-->
                <div class="dropdown">
                    <a class="dropbtn" id="col">Category 
                        <sub>
                            <i class="fas fa-angle-down"></i>
                        </sub>
                    </a>
                    <div class="dropdown-content">
                        <a href="#">Mountains</a>
                        <a href="#">Abstruct</a>
                        <a href="#">Dogs</a>
                    </div>
                </div>

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacts</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:login' %}">LogIn <span class="fas fa-user"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users:signup' %}">SignUp <span class="fas fa-user-plus"></span></a>
                        </li>
                    </ul>
                </form>
            </div>
        </nav>

        
    {% block content %}




    {% endblock %}



        <!--bottonBar-->
        <footer style=" bottom: 0px; ">
            <div class="bodyBottom">   
                <div id="endB">
                    <span id="sp1">
                        <span>Clicked with</span>
                        <i class="fas fa-heart"></i>
                        <span>and</span>
                        <i class="fas fa-camera"></i>
                    </span>
                    <span style="float: right;">
                        <span id="sp2">
                            <span>2018 </span>
                            <i class="far fa-copyright"></i>
                            <span>glowingpixels.com</span>
                        </span>
                        <span id="sp4">
                            <a href="#" class="lk">Terms</a>
                            <span>and</span>
                            <a href="#" class="lk">Privacy</a>
                        </span>
                    </span>
                </div>
            </div>
        </footer>
        
        <!--js CDNs-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="{% static "js/homepage.js" %}"></script>
    </body>
</html>