<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- CDN for font Awaesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" 
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" 
        crossorigin="anonymous">
        <!-- CDN for google font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <!-- link for homepage css -->
        <link rel="stylesheet" href="homepage.css">
    </head>
    <body>
        <!-- navbar for the homepage -->
        <div class="homepage_navbar">
            <div class="burger_icon">
                <i class="fas fa-bars"></i>
            </div>
            <div class="brand_name">
                glowingpixels
            </div>
            <div class="nav_content">
                <a href="#" class="side_line">
                    <span>Login</span>
                </a>
                <a href="#">
                    <span>Sign  Up</span>
                </a>
            </div>
        </div>

        <!-- side bar that contains category -->
        <div class="category_container">
            <div class="category_side">
                <div class="category">
                    <span class="menu_heading">Image Category</span>
                    <ul class="category_list">
                        <li class="list_items"><a href="#">Cats</a></li>
                        <li class="list_items"><a href="#">Dogs</a></li>
                        <li class="list_items"><a href="#">Buildings</a></li>
                        <li class="list_items"><a href="#">Outdoor</a></li>
                        <li class="list_items"><a href="#">Indoor</a></li>
                        <li class="list_items"><a href="#">Festive</a></li>
                        <li class="list_items"><a href="#">Animals</a></li>
                        <li class="list_items"><a href="#">Pujo</a></li>
                        <li class="list_items"><a href="#">Durga</a></li>
                        <li class="list_items"><a href="#">Lost It</a></li>
                    </ul>
                </div>
            </div>
            <div class="screen_side">

            </div>
        </div>

        <!-- links for the script tag -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="homepage.js"></script>
    </body>
</html>