{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<footer class="footer_container">
        <div class="details_sections_row">
            <div class="details_sections_col">
                <h3>PROJECT</h3>
                <ul>
                    <li><a href="#"><i class="fas fa-bong"></i>blah</a></li>
                    <li><a href="#"><i class="fas fa-bong"></i>blah</a></li>
                    <li><a href="#"><i class="fas fa-bong"></i>blah</a></li>
                    <li><a href="#"><i class="fas fa-bong"></i>blah</a></li>
                </ul>
            </div>
            <div class="details_sections_col">
                <h3>PROJECT</h3>
                <ul>
                    <li><a href="#"><i class="fas fa-bong"></i>blah</a></li>
                    <li><a href="#"><i class="fas fa-bong"></i>blah</a></li>
                    <li><a href="#"><i class="fas fa-bong"></i>blah</a></li>
                </ul>
            </div>
            <div class="details_sections_col">
                <h3>SUPPORT</h3>
                <ul>
                    <li><a href="#"><i class="fas fa-bong"></i>blah</a></li>
                    <li><a href="#"><i class="fas fa-bong"></i>blah</a></li>
                    <li><a href="#"><i class="fas fa-bong"></i>blah</a></li>
                </ul>
            </div>
            <div class="details_sections_col">
                <h3>COMPANY</h3>
                <ul>
                    <li><a href="#"><i class="fas fa-bong"></i>blah</a></li>
                    <li><a href="#"><i class="fas fa-bong"></i>blah</a></li>
                    <li><a href="#"><i class="fas fa-bong"></i>blah</a></li>
                </ul>
            </div>
        </div>
        <div class="bottom_formalities">
            <span class="littel_love">
                Clicked with 
                <i class="fas fa-heart"></i>
                and
                <i class="fas fa-camera-retro"></i>
            </span>
            <span class="copy_right">
                {% now "Y" %}
                <i class="far fa-copyright" style="font-size:90%"></i>
                glowingpixels.in
            </span>
        </div>
        
    </footer>
