html, body  {
    margin: 0;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* navbar css */
.homepage_navbar    {
    position: relative;
    text-align: center;
    padding: 15px 0;
}

.burger_icon    {
    position: absolute;
    display: inline;
    left: 20px;
    font-size: 140%;
    top: 30%;
    cursor: pointer;
}

.brand_name {
    display: inline;
    font-size: 160%;
}

.brand_name > a {
    color: black;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
}

.nav_content    {
    display: inline;
    position: absolute;
    right: 10px;
    top: 36%;
}

.nav_content a  {
    text-decoration: none;
    padding: 0 7px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 90%;
}

.burger_icon:hover,
.nav_content > a:hover  {
    color: rgb(10, 177, 177);
}

.nav_content .side_line {
    border-right: 2px solid black;
}

@media screen and (max-width: 767px)    {
    .burger_icon    {
        font-size: 130%;
    }

    .brand_name {
        font-size: 110%;
    }

    .nav_content    {
        top: 38%;
        font-size: 60%;
    }
}

/* css for category container */
.category_side  {
    position: fixed;
    width: 25%;
    height: 100%;
    background: white;
    top: 0;
    left: -70%;
    transition: 200ms;
    z-index: 2;
    font-family: 'Exo', sans-serif;
}

.screen_side    {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.281);
    top: 0;
    cursor: pointer;
    display: none;
    z-index: 1;
}

.menu_heading   {
    position: absolute;
    top: 20px;
    left: 50px;
    font-size: 150%;
}

.category_list  {
    top: 50px;
    left: 50px;
    position: absolute;
    list-style: none;
    padding: 0;
}

.list_items {
    margin: 5px 0;
    font-size: 110%;
    cursor: pointer;
}

.list_items > span:hover  {
    color: rgb(10, 177, 177);
}

/* the folowing 1 class used in js */
.change_color   {
    color: rgb(10, 177, 177);
}

.sub_category   {
    display: none;
    list-style: none;
    padding: 0;
    margin-left: 20px;
    font-size: 90%;
}

.sub_category > li > a  {
    text-decoration: none;
    color: black;
}

.sub_category > li:hover a  {
    color: rgb(10, 177, 177);
}

@media screen and (max-width: 1200px){
    .category_side  {
        width: 35%;
    }
}

@media screen and (max-width: 767px)    {
    .category_side  {
        width: 70%;
    }

    .menu_heading   {
        left: 40px;
        font-size: 140%;
    }

    .category_list  {
        left: 40px;
    }

    .list_items {
        font-size: 120%;
    }
}

