html, body  {
    margin: 0;
    height: 100%;
}

/* navbar css */
.homepage_navbar    {
    position: relative;
    text-align: center;
    background: #eeeeee; /* for the browser that does not support gradient */
    background-image: linear-gradient(#f3f1f1, #eeeeee, #e6e3e3);
    padding: 15px 0;
}

.burger_icon    {
    position: absolute;
    display: inline;
    left: 20px;
    font-size: 160%;
    top: 30%;
    cursor: pointer;
}

.brand_name {
    display: inline;
    font-size: 180%;
    
}

.nav_content    {
    display: inline;
    position: absolute;
    right: 10px;
    top: 36%;
}

.nav_content a  {
    text-decoration: none;
    padding: 0 7px;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

.burger_icon:hover,
.nav_content > a:hover  {
    color: rgb(10, 177, 177);
}

.nav_content .side_line {
    border-right: 2px solid black;
}

@media screen and (max-width: 767px)    {
    .burger_icon    {
        font-size: 130%;
    }

    .brand_name {
        font-size: 110%;
    }

    .nav_content    {
        top: 38%;
        font-size: 60%;
    }
}

/* css for category container */
.category_container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
}

.category_side  {
    position: absolute;
    width: 20%;
    height: 100%;
    background: white;
    top: 0;
}

.screen_side    {
    position: absolute;
    width: 80%;
    height: 100%;
    background: rgba(0, 0, 0, 0.281);
    top: 0;
    right: 0;
    cursor: pointer;
}

.menu_heading   {
    position: absolute;
    top: 20px;
    left: 50px;
    font-size: 170%;
}

.category_list  {
    top: 50px;
    left: 50px;
    position: absolute;
    list-style: none;
    padding: 0;
}

.list_items {
    margin: 5px 0;
    font-size: 120%;
}

.list_items > a {
    text-decoration: none;
    color: black;
}

.list_items:hover a  {
    color: rgb(10, 177, 177);
}

@media screen and (max-width: 1300px){
    .category_side  {
        width: 30%;
    }

    .screen_side    {
        width: 70%;
    }
}

@media screen and (max-width: 767px)    {
    .category_side  {
        width: 80%;
    }

    .screen_side    {
        width: 20%;
    }

    .menu_heading   {
        left: 20px;
        font-size: 140%;
    }

    .category_list  {
        left: 20px;
    }

    .list_items {
        font-size: 120%;
    }
}