body, html {
    height: 100%;
    margin: 0;
}

/* styling the navbar */
.navbar-u {
    padding: 35px 0;
    font-size: 20px;
    position: relative;
    box-shadow: 0 1px 6px #c2c1c1b6;
    z-index: 1;
}

.brand-u  {
    display: inline;
    margin-left: 20px;
    font-size: 30px;
}

.navContent-u {
    display: inline;
    margin-left: 50px;
    position: absolute;
    right: 20px;
    bottom: 40px;
}

.navItem-u    {
    display: inline;
}

.navItem-u a  {
    color: black;
    text-decoration: none;
    padding: 2px 7px;
    background-color: rgba(199, 202, 202, 0);
    border-radius: 23px;
    transition: 500ms;
}

.navItem-u a i    {
    font-size: 18px;
}

.bars-u   {
    display: none;

}

.dropdown-u   {
    padding-bottom: 13px;
}

.dropdownContent-u    {
    display: none;
    position: absolute;
    width: 120px;
    text-align: center;
    background: beige;
    border-radius: 15px;
    margin-top: 10px;
}

.dropdownContent-u a  {
    display: block;
}

.textdeco-u   {
    margin: 0 -3px;
}

/* search panel */
.searchContainer    {
    position: absolute;
    right: 580px;
    top: 40px;
}

.searchBar  {
    border: 2px solid rgb(226, 226, 226);
    background: rgb(226, 226, 226);
    padding: 6px;
    border-radius: 20px;
    color: white;
    display: inline;
    transition: 200ms;
}

.searchArea {
    border: none;
    outline: none;
    background: rgb(226, 226, 226);
}

.searchContent  {
    display: none;
    position: absolute;
    width: 210px;
    text-align: center;
    background: beige;
    border-radius: 15px;
    margin-top: 10px;
}

.searchContent a    {
    text-decoration: none;
}

/* hover effects */
.navItem-u a:hover    {
    background-color: rgb(119, 117, 117);
    color: white;
    transition: 500ms;
}


/* for tablet mode */
@media only screen and (max-width: 1150px) {
    /* code for navbar collapse */
    .navbar-u {
        padding: 15px 0;
    }

    .brand-u  {
        font-size: 25px;
    }

    .navContent-u {
        display: none;
        position: static;
    }
    
    .bars-u  {
        display: block;
        float: right;
        margin-right: 20px;
        font-size: 25px;
    }

    .navItem-u    {
        margin: 8px 0;
        display: block;
    }

    .user-u   {
        float: left;
    }

    .showItems-u  {
        display: block !important;
    }

    .dropdownContent-u  {
        margin-top: 5px;
    }

    .searchContainer  {
        right: 90px;
        top: 18px;
    }

  }

  /* to hide search area */
  @media only screen and (max-width: 624px) {
      .searchBar   {
          display: none;
      }
      .searchContent    {
          display: none;
      }
  }

  /* bottomBar */

.bodyBottom {
    padding: 20px 3% 20px 3%;
    background: #263238;
    color: #546E7A;
    border-top: 1px rgb(197, 194, 194) solid;
}

.lk   {
    color: #9e9e9e;
    padding: 0;
    display: inline;
}

.lk:hover   {
    color: #87919b;
}

#endB   {
    display: inline-block;
    margin: 0;
    font-size: 80%;
    width: 100%;
}

#sp4    {
    float: right;
}

@media only screen and (max-width: 450px) {
    #endB   {
        text-align: center;
    }

    #sp1   {
        display: block;
    }

    #sp4    {
        margin-top: 1%;
        display: block;
        float: none;
    }
}

@media (min-resolution: 192dpi)   {
    #endB   {
        text-align: center;
    }

    #sp1   {
        display: block;
    }

    #sp4    {
        margin-top: 1%;
        display: block;
        float: none;
    }
}