/* base modification only for login page */
/* navbar resize only in profile page */
.navbar-u   {
    padding: 10px 0;
}

.navContent-u   {
    bottom: 15px;
}

.searchContainer    {
    top: 17px;
}

@media only screen and (max-width: 1150px){
    .searchContainer    {
        top: 13px;
    }
}

footer {
    position: absolute;
    bottom: 0px; 
    width: 100%;
}

/* login css starts here */
.container {
    margin-top: 100px;
}

.formbody   {
    text-align: center;
}

.btn:hover  {
    filter: brightness(80%);
}

.formbody h3    {
    font-size: 150%;
}

.dig    {
    padding-top: 30px;
    color: rgb(40, 167, 40);
    font-size: 15px;
}

.dig a  {
    text-decoration: none;
}

.form-group {
    background : rgb(232, 240, 254);
    width: 30%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    transition: 200ms;
    border: 2px solid white;
}

.form-group > input {
    outline: none;
    padding: 0;
    border: none;
    text-align: center;
    width: 100%;
    background : rgb(232, 240, 254);
}

.loginBtn, .createAccountBtn   {
    background: green;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
}

.createAccountBtn   {
    background: blue;
}

@media (min-resolution: 192dpi)   {
    .navbar-u   {
        padding: 15px 0;
    }

    .form-group {
        width: 60%;
    }
}

/* code for form_reset page */
.errorlist  {
    display: none;
}

/* code for reset_done page */
.textPic    {
    margin: 0;
}

.textPicPosition    {
    text-align: center;
    font-size: 130%;
}