body, html {
    height: 100%;
    margin: 0;
}

/* navbar resize only in profile page */
.navbar-u   {
    padding: 10px 0;
}

.navContent-u   {
    bottom: 15px;
}

.searchContainer    {
    top: 17px;
}

@media only screen and (max-width: 1200px){
    .searchContainer    {
        top: 13px;
    }
}
/* profile css starts here */
.profileContainer    {
    width: 100%;
    position: relative;
    margin-bottom: 300px;
}

.coverImgContainer  {
    width: 100%;
    height: 350px;
    overflow: hidden;
    
}

.coverImg   {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    object-fit: cover;
    height: 350px;
}

.profilePicture {
    width: 200px;
    height: 200px;
    object-fit: cover;
    position: absolute;
    top: 70%;
    left: 200px;
    border: 2px solid white;
}

/* settings icon */
.fa-cog {
    position: absolute;
    color: white;
    text-shadow: 0 0 5px black;
    font-size: 20px;
    right: 25px;
    top: 15px;
    transition: 200ms;

}

/* edit icons */
.imgChangeIcon    {
    padding: 5px;
    position: absolute;
    right: 20px;
    top: 60px;
    background: rgba(255, 255, 255, 0.158);
    border-radius: 5px;
}

.fa-pencil-alt    {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.336);
    cursor: pointer;
}

.picEdit    {
    position: absolute;
    right: 60px;
    top: 64px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.336);
    cursor: pointer;
    display: none;
}

.profilePicChange, .coverPicChange  {
    background: rgba(255, 255, 255, 0.212);
    margin: 0 5px;
    padding: 3px 5px;
    border-radius: 5px;
    transition: 200ms;
}

.profilePicChange:hover, 
.coverPicChange:hover   {
    filter: brightness(80%);
}


/* img Change icon Hover */
.imgChangeIcon:hover   {
    background: rgba(255, 255, 255, 0.288);
}

/* social links css */
.socialLinks {
    position: absolute;
    bottom: 5%;
    right: 20px;
    font-size: 35px;
}

.socialLinks a  {
    color: #263238;
    margin-left: 10px;
    text-decoration: none;
}

/* social link icon hover */
.fa-facebook-square:hover,
.fa-instagram:hover   {
    filter: brightness(120%);
}

/* userDetails */
.userDetailsOnPage  {
    position: absolute;
    top: 106%;
    left: 430px;
}

.userFullName   {
    color: #263238;
    text-transform: uppercase;
    font-size: 30px;
}

.imgContributed   {
    color: #263238;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 10px;
}

.contributeImgIcon  {
    color: orangered;
    transition: 200ms;
    opacity: 0;
}

.imgContributed:hover .contributeImgIcon  {
    opacity: 1;
} 

/* contribute Area */
.contributeArea    {
    position: absolute;
    top: 150%;
    left: 48%;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 0 1px gray;
    transition: 3s;
}

.fa-plus    {
    font-size: 80px;
    color: rgba(135, 135, 196, 0.794);
    transition: 3s;
}

/* hr style */
hr {
    border: 0;
    height: 2px;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


@media only screen and (max-width: 900px) {
    .profilePicture {
        left: 120px;
    }

    .userDetailsOnPage   {
        left: 350px;
    }

}

@media only screen and (max-width: 550px) {
    .profilePicture {
        left: 60px;
    }

    .userDetailsOnPage   {
        left: 290px;
    }

}

/* code for phones */
@media (min-resolution: 192dpi)   {
    .navbar-u   {
        padding: 15px 0;
    }

    .profilePicture {
        left: 35%;
        top: 80%;
        width: 30%;
    }
    
    .userDetailsOnPage   {
        top: 140%;
        left: auto;
        width: 100%;
        text-align: center;
    }

    .contributeImgIcon  {
        opacity: 1;
    }

    .socialLinks    {
        font-size: 180%;
        bottom: 2%;
    }

    .contributeArea     {
        left: 45%;
        top: 180%;
        padding: 5px 7px;
    }

    .fa-plus    {
        font-size: 40px;
    }
}