body, html {
    height: 100%;
    margin: 0;
}

.profileContainer    {
    width: 100%;
    position: relative;
}

.coverImg   {
    width: 100%;
    height: auto;
    position: relative;
}

.profilePicture {
    width: 20%;
    position: absolute;
    top: 70%;
    left: 15%;
    border: 2px solid white;
}

.userDetails    {

}

@media only screen and (max-width: 900px) {

}