/* base modification only for this page */
footer {
    position: absolute;
    bottom: 0px; 
    width: 100%;
}

/* css of this page */
.formbody   {
    text-align: center;
}

.row    {
    width: 50%;
    margin: 5px auto;
    padding: 5px 10px;
}