/* navbar resize only in profile page */
/* base modification only for this page */
.navbar-u   {
    padding: 10px 0;
}

.navContent-u   {
    bottom: 15px;
}

.searchContainer    {
    top: 17px;
}

@media only screen and (max-width: 1150px){
    .searchContainer    {
        top: 13px;
    }
}

footer {
    position: absolute;
    bottom: 0px; 
    width: 100%;
}

/* css of this page */
.formbody   {
    text-align: center;
}

.row    {
    width: 30%;
    margin: 5px auto;
    padding: 10px 0;
    background : rgb(232, 240, 254);
    border-radius: 5px;
    border: 2px solid white;
}

.row input  {
    border: none;
    outline: none;
    text-align: center;
    background : rgb(232, 240, 254) !important;
    width: 100%;
}

.firstName, .lastName   {
    display: inline-block;
    width: 15%;
}

.loginBtn, .signupBtn  {
    background: blue;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
}

.signupBtn   {
    background: green;
    margin-top: 20px;
}

.btn:hover  {
    filter: brightness(80%);
}

.termsAndConditions {
    text-decoration: none;
}

/* back Backend */

.errorlist  {
    display: none;
}

/* code fof phones */
@media (min-resolution: 192dpi)   {
    .navbar-u   {
        padding: 15px 0;
    }

    .row {
        width: 60%;
    }

    .firstName, .lastName   {
        display: inline-block;
        width: 29%;
    }
}