{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}
    Glowing Pixels
{% endblock %}

{% block style %}
    <link href="{% static "css/homepage.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<link href="{% static "css/homepage.css" %}" rel="stylesheet">
        <!--thumbnails-->
        <div class="container">
            <div class="row">

            {% for img in images %}
                <div class="col-lg-4 col-sm-6 hiddeneffect">
                    <a href="{{ img.image.url }}">
                        <img src="{{ img.image.thumbnail.url }}" class="img-thumbnail sdo" style="margin-bottom: 20px;">
                    </a>

                    <!--stuff on thumbnails-->
                    <div class="stuffImgTitle">
                        {{ img.label }}
                    </div>

                    <a href="#">
                        <div class="stuffEnlarge">
                            <i class="fas fa-expand"></i>
                        </div>
                    </a>

                    <div class="stuffImgBy">
                        By {{ img.contributor }}
                    </div>

                    <div class="stuffPublished">
                        Published on {{ img.date }}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>

{% endblock %}