{% extends "base/base.html" %}
{% load staticfiles  %}

{% block title %}
    Glowing Pixels
{% endblock %}

{% block content %}
    <link href="{% static "css/homepage.css" %}" rel="stylesheet">
        <!--thumbnails-->

        <div class="container">
            <div class="row">
                
            {% for img in images %}

                <div class="col-lg-4 col-sm-6 hiddeneffect">

                    <a href="#">
                        <img src="{{ img.image.thumbnail.url }}" class="img-thumbnail sdo" style="margin-bottom: 20px;">
                    </a>

                    <!--stuff on thumbnails-->
                    <div class="stuffImgTitle">
                        {{ img.label }}
                    </div>

                    <a class="stuffEnlarge" href="#" id="expnd{{ img.id }}">
                        <i class="fas fa-expand"></i>
                    </a>

                    <div class="stuffImgBy">
                        By {{ img.contributor }}
                    </div>

                    <div class="stuffPublished">
                        Published on {{ img.date }}
                    </div>

                </div>
                {% endfor %}
            </div>           
        </div>

        <!--this div zooms on clicking on img card-->
        {% block scripts %}
        {{ block.super }}
        {% for img in images %}
            <div class="zoom" id="ad{{ img.id }}">
                    <img src="{{ img.image.url }}" class="imgProperty">
            </div>
            <script>
             $("#expnd{{ img.id }}").click(()=>{
                 $("#ad{{ img.id }}").addClass("showZoom");
                });
            </script>
        {% endfor %}

        {% endblock %}
      

    {% endblock %}