{% extends "base/base.html" %}
{% load staticfiles  %}

{% block title %}
    Glowing Pixels
{% endblock %}

{% block content %}
    <link href="{% static "css/homepage.css" %}" rel="stylesheet">
        <!--thumbnails-->

        <div class="container">
            <div class="row">
                
            {% for img in images %}

                <div class="col-lg-4 col-sm-6 hiddeneffect">

                    <a href="#">
                        <img src="{{ img.image.thumbnail.url }}" class="img-thumbnail sdo" style="margin-bottom: 20px;">
                    </a>

                    <!--stuff on thumbnails-->
                    <div class="stuffImgTitle">
                        {{ img.label }}
                    </div>

                    <div class="stuffEnlarge" id="ex{{ img.id }}">
                        <i class="fas fa-expand"></i>
                    </div>

                    <div class="stuffImgBy">
                        By {{ img.contributor }}
                    </div>

                    <div class="stuffPublished">
                        Published on {{ img.date }}
                    </div>

                </div>
                {% endfor %}
            </div>           
        </div>

        <!--this div zooms on clicking on img card-->
        {% for img in images %}
        <div class="overlay ex{{ img.id }}"></div>
        <div class="zoom ex{{ img.id }}">
            <img src="{{ img.image.url }}" class="imgProperty">
        </div>
        {% endfor %}
    {% endblock %}

    {% block scripts %}
    {{ block.super }}
        <script src="{% static 'js/homepage.js' %}"></script>
    {% endblock %}
