{% extends "base/base.html" %}
{% load staticfiles  %}

{% block title %}
    Glowing Pixels
{% endblock %}

{% block content %}
    <link href="{% static "css/homepage.css" %}" rel="stylesheet">

        <div class="bag">
            <div class="row-u">

            {% for img in images %}

                <!-- img cards -->
                <div class="col-u">

                    <a href="#">
                        <img src="{{ img.image.thumbnail.url }}" alt="mountains" class="imgThumbnails" id="it1">
                    </a>

                    <div class="albumName">
                        <span class="onThumbnail">
                        {{ img.label }}
                        </span>
                    </div>

                    <div class="enlarge">
                        <div class="backLay onThumbnail" id="ex{{ img.id }}">
                            <i class="fas fa-expand"></i>
                        </div>
                    </div>

                    <div class="postBy">
                        <span class="onThumbnail">
                        By {{ img.contributor }}
                        </span>
                    </div>

                    <div class="publishedOn">
                        <span class="onThumbnail">Published on {{ img.date }}</span>
                    </div>

                </div>
                {% endfor %}

            </div>
        </div>

        <!-- stuff after onClick zoom -->
        {% for img in images %}
        <div class="overlay"></div>
        <div class="zoomImg">
            <img src="#" alt="image" class="imgProperty">
        </div>
        {% endfor %}
    {% endblock %}
    
   {% block scripts %}
    {{ block.super }}
        <script src="{% static 'js/homepage.js' %}"></script>
    {% endblock %}
