{% extends "base/base_homepage.html" %}
{% load staticfiles  %}

<title>
{% block title %}
    Glowing Pixels
{% endblock %}
</title>

{% block content %}
    <!-- css link -->
    <link href="{% static 'css/homepage.css' %}" rel="stylesheet">

    <!-- search container -->
    <div class="search_home_container">
        <div class="intro_text">
            <div class="text_line_1">BEST QUALITY IMAGES</div>
            <div class="text_line_2">WITH</div>
            <div class="text_line_3">LOWEST PRICE EVER</div>
        </div>
        <div class="search_bar">
            <input type="text" placeholder="">
            <button type="button">Search</button>
        </div>
    </div>

    <!-- img categories blocks -->
    <div class="category_block_row">
        {% for image in images %}
        <div class="category_block_col">
        <a href="{% url 'gallery:category' image.category %}">
            <img src="{{ image.representative_image.thumbnail.url }}" alt="image">
            <div class="category_name">
                {{ image.category }}
            </div>
        </a>
        </div>
        {% endfor %}

    </div>

{% endblock %}
    
{% block scripts %}
{{ block.super }}
    <script src="{% static 'js/homepage.js' %}"></script>
{% endblock %}