{% extends "base/base.html" %}
{% load staticfiles  %}

{% block title %}
    Glowing Pixels
{% endblock %}

{% block content %}
    <link href="{% static "css/homepage.css" %}" rel="stylesheet">
    {% if category %}
        <p> Category : {{ category }} </p>
    {% endif %}
        <div class="bag">
            <div class="row-u">
            
            {% for img in images %}

                <!-- img cards -->
                <div class="col-u">

                    <img class="imgThumbnails" src="{{ img.image.thumbnail.url }}" alt="Images"  src_full="{{ img.image.url }}">
                    <div class="albumName">
                        <a href="{% url 'gallery:gallery' img.tag %}">
                            <span class="onThumbnail">
                                {{ img.tag }}
                            </span>
                        </a>
                    </div>
                    
                    <div class="enlarge">
                        <div class="backLay onThumbnail">
                            <i class="fas fa-expand"></i>
                        </div>
                    </div>

                    <div class="postBy">
                        <a href="#">
                            <span class="onThumbnail">
                                By {{ img.contributor }}
                            </span>
                        </a>
                    </div>

                    <div class="publishedOn">
                        <span class="onThumbnail">Published on {{ img.date }}</span>
                    </div>
                    
                     <div class="lovedBtn" id="/like/{{ img.id }}/"><!--The ID of the Love button acts as an urlpattern for the ajax call-->
                        <a style="text-decoration:none"><i class="fas fa-heart"></i></a>
                    </div>
                   

                </div>
                {% endfor %}

            </div>
        </div>

        <!-- stuff after onClick zoom -->
        <div class="overlay"></div>
        <div class="zoomImg">
            <img src="#" alt="image" class="imgProperty">
            <div class="afterZoomDetails">
                <a href="#" class="postByName"></a>
                <div class="totalLike">
                    99
                    <i class="fas fa-heart"></i>
                </div>
                <div class="download">
                    DOWNLOAD
                    <i class="fas fa-cloud-download-alt"></i>
                </div>
            </div>
        </div>

    {% endblock %}
    
   {% block scripts %}
    {{ block.super }}
        <script src="{% static 'js/homepage.js' %}"></script>
    {% endblock %}
