{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}
    Sign Up|Glowing Pixels
{% endblock %}

{% block content %}
{% load widget_tweaks %}

    <!--I have explicitly used Signup page's css but you may change based upon your preferences-->
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">

    <!--form-->
    <div class="container">
                <div class="formbody">

                    <p style="font-size: 50px">Submit Your ART</p>
                    <form enctype="multipart/form-data" method="POST">
                        {% csrf_token %}

                        <div class="row">
                            
                                {% render_field form.tag class="form-control" placeholder="Category" %}
                                                      
                        
                                {% render_field form.label class="form-control" placeholder="Name your Art" %}
                        
                        </div>


                        <div class="row">
                            
                                {% render_field form.descriptions class="form-control" placeholder="A vivid art description" %}
                            
                        </div>

             

                               
                            <div style="display:none">
                                <button type="button" class="btn btn-outline-secondary" data-toggle="tooltip" title="Your Masterpiece">Upload</button>
                            </div>
                            <div class="custom-file">
                                {% render_field form.image class="custom-file-label" id="inputGroupFile03" %}
                                <label class="custom-file-label" for="inputGroupFile03"></label>
                            </div>
                        
                                            
                        <div class="d1">
                            <input type="submit" class="btn btn-primary" value="Publish">
                        </div>

                    </form>

                </div>
    </div>
{% endblock %}