<!DOCTYPE html>
<html>
    <head>
        <title>SignUp Page</title>
        <link rel="icon" href="../StaticPhotos/icon.png" type="image/x-icon">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" 
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" href="../navCss/main.css">
        <link rel="stylesheet" href="../signupPage/main.css">
    </head>
    <body>
        <!-- nav bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="../frontPage/index.html"><span class="fas fa-cannabis" style="padding-right: 10px"></span><strong>GLowingPixels</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacts</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="../loginPage/index.html">LogIn <span class="fas fa-user"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="../signupPage/index.html">SignUp <span class="fas fa-user-plus"></span></a>
                        </li>
                    </ul>
                </form>
            </div>
        </nav>

        <!--form-->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <div class="formbody">
                        <form action="#">
                            <div class="row">
                                <div class="col">
                                    <input type="text" class="form-control" id="firtName"  placeholder="First Name" required>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" id="lastName" placeholder="Last Name" required>
                                </div>
                            </div>
                            <div class="row d1">
                                <div class="col">
                                    <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                                </div>
                            </div>
                            <div class="row d1">
                                <div class="col">
                                    <input type="password" class="form-control" id="inputPassword1" placeholder="Password" required>
                                </div>
                                <div class="col">
                                    <input type="password" class="form-control" id="confirmPassword1" placeholder="Confirm Password" required>
                                </div>
                            </div>
                            <div id="op">
                                <input type="checkbox" name="read" value="didRead" required> Read the 
                                <a href="#" class="lk">Terms and Conditions</a>
                            </div>
                            <div class="d1">
                                <button type="submit" class="btn btn-primary">Sign Up</button>
                            </div>
                        </form>
                        <p class="dig"><strong>Already have an account !!</strong></p>
                    <div>
                    <a href="../loginPage/index.html">
                        <button type="submit" class="btn btn-primary">Log In</button>
                    </a>
                </div>
            </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>