{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}
    Login|Glowing Pixels
{% endblock %}

{% block content  %}
{% load widget_tweaks %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                    <div class="formbody">
                    {% if failed %}
                     <h3>Username Doesn't exist</h3>
                    {% else %}
                    <h3>Login</h3>
                    {% endif %}
                        <form action="{% url 'users:login' %}" method="post">
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" placeholder="Enter Username" required>
                            </div>

                            <div class="form-group">
                                <label for="pass">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Password" required>
                            </div>

                                <input type="submit" class="btn btn-primary" value="Login">                
                        </form>

                        <p class="dig"><strong>New on GlowingPixels ?</strong></p>
                    <div>

                    <a href="{% url 'users:signup' %}">
                        <button type="submit" class="btn btn-primary">Create an Account</button>
                    </a>
                </div>
            </div>
        </div>

{% endblock %}